.info-logged {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    font-weight: bold;
    
    button {
        border: none;
        background-color: transparent;
        display: flex;
        align-items: center;
        gap: 0.2rem;
        font-weight: bold;
        font-size: 1rem;
        color: #2c3e50;
    }
  }